@{
    ViewBag.Title = "Reciept";
}

<div class="row-fluid marketing">
    <div class="span8 offset1">
        <p class="text-center">
            <b>Thank you for your interest in the Sponsor an AFSer program!</b>
        </p>
        <p>
            Your participation request has been submitted.
            Please allow at least one week for the AFS-USA Scholarships Team to respond to your request. If your request is approved, you will receive an email with the code for your personalized AFS fundraising widget, and instructions on how to add it to your blog.
            In the meantime, you should focus on completing your full AFS online application (if you haven’t already), brainstorming ways to get the word out about your blog, or starting other fundraising projects.
        </p>
        <p>
            Remember that with Sponsor an AFSer, your results depend on how much effort you put into publicizing your effort and mobilizing donors. So work hard to get the word out! Here are some ideas to get you started:
        </p>
        <ul>
            <li>Write an email appealing to your family, friends, dentist, elementary school teacher...you get the drift! Ask your parents to forward it to their contacts, too.</li>
            <li>Create a Facebook event to get out the word.</li>
            <li>Put a link on your personal blog or other social networking sites you use.</li>
            <li>Have the person paying you for babysitting/lawn mowing/etc. pay you online through your blog.</li>
            <li>Post a short "ad" about your blog through your high school newspaper or a bulletin board at your school, favorite coffee shop, or parent's work.</li>
            <li>Set-up a computer with your blog outside a library, grocery store, etc. (you'll need wireless for this, and permission from the business). Bring some AFS "props" (wear an AFS t-shirt, have a book and snacks from the country you're going to, etc).</li>
            <li>Ask your parents or grandparents if they will match every dollar you raise through your AFS blog.</li>
            <li>Need some more ideas? Check out the <a href="#">AFS Fundraising Wiki</a></li>
        </ul>
        <p>
            Best wishes,<br />
            AFS Scholarships Team
        </p>
    </div>   
</div>
