@{
    ViewBag.Title = "Reciept";
}

<div class="row-fluid marketing">
    <div class="span8 offset1">
        <p>
            Thank you for sponsoring an AFSer!
        </p>
        <p>
            Your donation to @TempData["Name"] in the amount of $@TempData["Amount"] has been processed successfully and applied directly to their AFS program tuition. We emailed a receipt to: @TempData["Email"] for your records.
        </p>
        <p>
            We will notify @TempData["Name"] of your donation. Thank you once again for your support.
        </p>
    </div>   
</div>
