@{
    ViewBag.Title = "Reciept";
}

<div class="row-fluid marketing">
    <div class="span8 offset1">
        <p>
            Thank you for sponsoring an AFSer!
        </p>
        <p>
            Your donation to Alexa in the amount of $500.00 has been processed successfully and applied directly to their AFS program tuition. We emailed a receipt to: bob@aol.com for your records.
        </p>
        <p>
            We will notify Alexa of your donation. Thank you once again for your support.
        </p>
    </div>   
</div>
