@{
    ViewBag.Title = "Reciept";
}

<div class="row-fluid marketing">
    <div class="span8 offset1">
        <p>
            Thank you for sponsoring an AFSer!
        </p>
        <p>
            Your donation in the amount of $@TempData["Amount"] has been processed successfully and applied directly to @TempData["Name"]'s  AFS program tuition. We emailed a receipt to: @TempData["Email"] for your records. Please remember that contributions made through the Sponsor an AFSer program are not tax deductible.
        </p>
        <p>
            We will notify @TempData["Name"] of your donation. Thank you again for sponsoring an AFSer! 
        </p>
    </div>   
</div>
